<main>
    <h1>Commands</h1>
    <hr />
    <div>Command Interface</div>
  </main>
  
  <style>
    main {
      font-size: 1.5rem;
      margin: 4rem;
      padding: 2rem;
      color: gray;
      justify-content: center;
      box-shadow: 4px 5px 11px 10px lightgray;
    }
  </style>
  