<script lang="ts"`>
    import { users } from './data'
  
    let selectedUserId: string = '';
  
    function addUser() {
      console.log('Adding user...');
    }
  
    function editUser() {
      console.log('Editing user...');
    }
  
    function deleteUser() {
      console.log('Deleting user...');
    }
</script>
  
  <div>
    <label for="user-select">User Selection:</label>
    <select id="user-select" bind:value={selectedUserId} on:change={() => (selectedUserId)}>
      <option value="">Select a user...</option>
      {#each users as user}
        <option value={user}>
          {user.firstName} {user.LastName}
        </option>
      {/each}
    </select>
  
    <div>
      <button on:click={addUser}>Add User</button>
      <button on:click={editUser} disabled={!selectedUserId}>Edit User</button>
      <button on:click={deleteUser} disabled={!selectedUserId}>Delete User</button>
    </div>
  </div>
  
  {#if selectedUserId}
    <div class="user-details">
      <h2>User Details:</h2>
      <p>User Id: {selectedUserId.id}</p>
      <p>First Name: {selectedUserId.firstName}</p>
      <p>Last Name: {selectedUserId.lastName}</p>
      <p>Date of Birth: {selectedUserId.dateOfBirth}</p>
    </div>
  {:else}
    <div class="user-details">
      <h2>Please Select a User</h2>
    </div>
  {/if}
  
  <style>
    div {
      margin: 1rem 0;
    }
  
    select, button {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
    }
  
    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    .user-details {
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  </style>
  